{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TEACH.IT</title>
        <link href="{% static 'seguridad/css/all.css' %}" rel="stylesheet" crossorigin="anonymous"/>
        <link href="{% static 'seguridad/bootstrap/bootstrap.min.css' %}" rel="stylesheet"> 
        <link href="{% static 'seguridad/css/styled.css' %}" rel="stylesheet"> 
     </head>

    <body>
        {% if messages %}
            {% for message in messages %}
                <div id="login-error" class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <img class="back" src="{% static 'seguridad/img/back.png' %}" alt="Orange background" >
        <div class="containerNew">
            <div class="img">
                <img src="{% static 'seguridad/img/index.svg' %}" alt="estudiante">
            </div>
            <div class="login-container">
                <form action="{% url 'login_view' %}" method="post">
                    {% csrf_token %}
                    <img class="mainLogo mb-4" src="{% static 'seguridad/img/main.png' %}"  alt="Icon made by Pixel perfect from www.flaticon.com">

                    <div class="input-div one">
                        <div class="i"><i class="fas fa-user"></i></div>
                        <div>
                            <h5>Usuario</h5>
                            <input name="usuario" type="text" class="input" id="floatingInput">
                        </div>
                    </div>

                    <div class="input-div two">
                        <div class="i"><i class="fas fa-lock"></i></div>
                        <div>
                            <h5>Contraseña</h5>
                            <input name="contrasena" type="password" class="input" id="floatingPassword">
                        </div>
                    </div>

                    <button class="btn" type="submit">Iniciar sesión</button>
                    <p class="mt-5 mb-3 text-muted">&copy;2021 - NEGOCIOS WEB</p>
                </form>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/5803f0f48d.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'seguridad/js/main.js' %}"></script>
    </body>
</html>
