{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'academico/bootstrap/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'academico/css/all.css' %}" rel="stylesheet" crossorigin="anonymous"/>
    <link href="{% static 'academico/bootstrap/bootstrap-datepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'academico/css/styled.css' %}" rel="stylesheet"/>
</head>
<body>
    <nav class="orange navbar navbar-expand-lg navbar-light ">
        <div class="container">
          <a class="navbar-brand" href="/">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link {% if activo == 'clasesM' %}active{% endif %}" href="{% url 'claseMatricula' %}">Clases Matriculadas</a>
              <a class="nav-link {% if activo == 'alumnos' %}active{% endif %}" href="{% url 'alumnos' %}">Alumnos</a>
              <a class="nav-link" href="{% url 'clasesMatricula' %}">Clases Matriculadas</a>
              <a class="nav-link {% if activo == 'clases' %} active {% endif %}" href="{% url 'clasesAdmin' %}">Clases</a>
              <a class="nav-link" href="{% url 'asignaturas' %}">Asignaturas</a>
                <a class="nav-link {% if activo == 'docentes' %} active {% endif %}" href="{% url 'docenteAdmin' %}">Docentes</a>
              <a class="nav-link {% if activo == 'periodos' %} active {% endif %}" href="{% url 'periodosAdmin' %}">Periodos</a>
              <a class="nav-link {% if activo == 'oferta' %} active {% endif %}">Oferta Academica</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
            {% block container %}{% endblock %}     
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/5803f0f48d.js" crossorigin="anonymous"></script>
  <script src="{% static 'academico/js/jquery.min.js' %}"></script>
  <script src="{% static 'academico/bootstrap/bootstrap-datepicker.js' %} "></script>
  <script  src="{% static 'academico/bootstrap/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
  {% block js %}{% endblock  %}
</body>
</html>