{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'academico/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'academico/css/all.css' %}" rel="stylesheet"/>
    <link href="{% static 'academico/bootstrap/bootstrap-datepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'academico/css/styled.css' %}" rel="stylesheet"/>
</head>
<body>
    <nav class="orange navbar navbar-expand-lg navbar-light ">
        <div class="container">
          <a class="navbar-brand" href="/">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link {% if activo == 'clases' %} active {% endif %}" href="{% url 'clasesAdmin' %}">Clases</a>
              <a class="nav-link {% if activo == 'periodos' %} active {% endif %}" href="{% url 'periodosAdmin' %}">Periodos</a>
              <a class="nav-link {% if activo == 'oferta' %} active {% endif %}">Oferta Academica</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
            {% block container %}{% endblock %}     
      </div>
  <script src="{% static 'academico/js/jquery.min.js' %}"></script>
  <script src="{% static 'academico/bootstrap/bootstrap-datepicker.js' %} "></script>
  <script  src="{% static 'academico/bootstrap/bootstrap.bundle.min.js' %}"></script>
  {% block js %}{% endblock  %}
</body>
</html>