{% extends "base.html" %}

{% block title %}
    Alumnos
{% endblock %}
{% block navbar %}
    {% if user.is_superuser %}
        <a class="nav-link"href="/admin/" >Sitio de administración</a>
        <a class="nav-link"href="{% url 'academico:alumnos' %}" >Alumno</a>
        <a class="nav-link"href="{% url 'academico:docenteAdmin' %}" >Docente</a>
        <a class="nav-link"href="{% url 'academico:clasesAdmin' %}" >Clases</a>
        <a class="nav-link"href="{% url 'academico:asignaturas' %}" >Asignatura</a>
        <a class="nav-link"href="{% url 'academico:periodosAdmin' %}" >Oferta Academica</a>
    {% elif "Docente" in user.groups.all.first.name %}
        <a class="nav-link"href="{% url 'academico:notas' %}" >Notas</a>
        <a class="nav-link"href="{% url 'academico:editar_perfil_alumnos' %}" >Perfil</a>
        <a class="nav-link"href="{% url 'academico:clasesMatricula' %}" >Clases</a>
        <a class="nav-link"href="{% url 'academico:clasesdocente' %}" >Boleta</a>

    {% else %}
        <a class="nav-link"href="{% url 'academico:notas' %}" >Notas</a>
        <a class="nav-link"href="{% url 'academico:editar_perfil_alumnos' %}" >Perfil</a>
        <a class="nav-link"href="{% url 'academico:clasesMatricula' %}" >Clases</a>
        <a class="nav-link"href="{% url 'academico:boletaAlumno' %}" >Boleta</a>
        <a class="nav-link"href="{% url 'academico:ofertaAlumno' %}" >Matricula</a>
    {% endif %}
{% endblock %}

{% block container %}
<style>
  .row{
      margin:20px;
      color:black;
  }
</style>


 <div class="row">

        <div class="row d-inline-flex container-fluid">
        {% if alumno %}
            <form action="{% url 'academico:editar_alumnos' alumno.id %}" method="POST" enctype="multipart/form-data">
        {% else %}
            <form action="{% url 'academico:alumnos' %}" method="POST" enctype="multipart/form-data">
        {% endif %}
                {% csrf_token %}

            <div class="col-5 d-inline-block me-5">
                 {{ form.as_p }}
                 <div class="mb-2">
                    <label class="mb-2" for="nombre">Nombre</label>
                    <input type="text" value="{{ alumno.nombre }}" name="nombre" id="nombre" class="form-control" placeholder="Jose Mario" pattern="(\b[A-Z]\w+)?(\s)?(\b[A-Z]\w+)"  required>
                    </div>
                <div class="mb-2">
                    <label class="mb-2" for="apellido">Apellido</label>
                    <input type="text"  value="{{ alumno.apellido }}" name="apellido" id="apellido" class="form-control" placeholder="Carcamo Ruiz" pattern="(\b[A-Z]\w+)?(\s)?(\b[A-Z]\w+)" required>
                </div>

                <div class="mb-2">
                    <label class="mb-2" for="correo">Correo</label>
                    <input type="text"  value="{{ alumno.correo }}" placeholder="ejemplo@final.com" name="correo" id="correo" class="form-control" required>
                </div>

                <div class="mb-2">
                    <label class="mb-2" for="telefono">Teléfono</label>
                    <input type="tel" value="{{ alumno.telefono }}" name="telefono" id="telefono" class="form-control" pattern="\+?\d{1,4}?[-.\s]?\(?\d{1,3}?\)?[-.\s]?\d{1,4}[-.\s]?\d{1,4}[-.\s]?\d{1,9}" placeholder="9999-9999" required>
                </div>

               
            </div>

       
        <div class="col-5 d-inline-block me-5">
                <div class="mb-2">
                    <label class="mb-2" for="facultad">Facultad</label>
                    <select name="facultad" id="facultad" class="form-select form-select-sm" aria-selected="{{ alumno.facultad }}">

                        {% if alumno.facultad == '1' %}
                            <option value="1" selected>Ingeniería en Ciencias de la Computación</option>
                            <option value="2">Ingeniería Industrial</option>
                            <option value="3">Ingeniería Civil</option>
                            <option value="4">Medicina y Cirugía</option>
                            <option value="5">Odontología</option>
                            <option value="6">Enfermería</option>
                            <option value="7">Psicología</option>

                        {% elif alumno.facultad == '2' %}
                            <option value="1">Ingeniería en Ciencias de la Computación</option>
                            <option value="2" selected>Ingeniería Industrial</option>
                            <option value="3">Ingeniería Civil</option>
                            <option value="4">Medicina y Cirugía</option>
                            <option value="5">Odontología</option>
                            <option value="6">Enfermería</option>
                            <option value="7">Psicología</option>

                        {% elif alumno.facultad == '3' %}
                            <option value="1">Ingeniería en Ciencias de la Computación</option>
                            <option value="2">Ingeniería Industrial</option>
                            <option value="3" selected>Ingeniería Civil</option>
                            <option value="4">Medicina y Cirugía</option>
                            <option value="5">Odontología</option>
                            <option value="6">Enfermería</option>
                            <option value="7">Psicología</option>

                        {% elif alumno.facultad == '4' %}
                            <option value="1">Ingeniería en Ciencias de la Computación</option>
                            <option value="2">Ingeniería Industrial</option>
                            <option value="3">Ingeniería Civil</option>
                            <option value="4" selected>Medicina y Cirugía</option>
                            <option value="5">Odontología</option>
                            <option value="6">Enfermería</option>
                            <option value="7">Psicología</option>

                        {% elif alumno.facultad == '5' %}
                            <option value="1">Ingeniería en Ciencias de la Computación</option>
                            <option value="2">Ingeniería Industrial</option>
                            <option value="3">Ingeniería Civil</option>
                            <option value="4">Medicina y Cirugía</option>
                            <option value="5" selected>Odontología</option>
                            <option value="6">Enfermería</option>
                            <option value="7">Psicología</option>

                        {% elif alumno.facultad == '6' %}
                            <option value="1">Ingeniería en Ciencias de la Computación</option>
                            <option value="2">Ingeniería Industrial</option>
                            <option value="3">Ingeniería Civil</option>
                            <option value="4">Medicina y Cirugía</option>
                            <option value="5">Odontología</option>
                            <option value="6" selected>Enfermería</option>
                            <option value="7">Psicología</option>

                        {% else %}
                            <option value="1">Ingeniería en Ciencias de la Computación</option>
                            <option value="2">Ingeniería Industrial</option>
                            <option value="3">Ingeniería Civil</option>
                            <option value="4">Medicina y Cirugía</option>
                            <option value="5">Odontología</option>
                            <option value="6">Enfermería</option>
                            <option value="7" selected>Psicología</option>
                        {% endif %}
                    </select>
                </div>
                <div class="mb-2">
                    <label for="dir">Dirección</label>
                    <textarea name="dir" id="dir" class="form-control" required rows="7" style="width:100%" required>{{ alumno.direccion }}</textarea>
                </div>

                <div class="mb-2">
                    <label class="mb-2" for="datebirth">Fecha de nacimiento</label>
                    <input type="date"  value="{{ alumno.fecha_nacimiento.isoformat }}" name="datebirth" id="datebirth" class="form-control" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" max="31-12-2001" required>
                </div>
               <br> 
               <div class="mb-2">
                {% if alumno %}
                    <input onclick="if (!confirm('¿Desea actualizar {{alumno.nombre}}?')) return false;"  type ="submit" class="btn text-white orange" value="Actualizar Alumno">
                {% else %}
                    <input type ="submit" class="btn text-white orange" value="Registrar Alumno">
                {% endif %}
                </div>
        </div>
            </form>


        <div class="col-9">
            {% if messages %}
                <div class="alert alert-success mb-3">
                    {% for message in messages %}
                        {{ message | safe }}
                    {% endfor %}
                </div>
            {% endif %}



            <h5 class="mt-3 mb-3 fw-bold">Alumnos {{ alumnos.count }}</h5>
            <form action="{% url 'academico:alumnos' %}" method="GET">
                <input name="q" value="{{ q | default_if_none:''}}" type="search" class="form-control" placeholder="Buscar Alumno">
            </form>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="textOrangeDark">FOTO</th>
                        <th class="textOrangeDark">NOMBRE</th>
                        <th class="textOrangeDark">APELLIDO</th>
                        <th class="textOrangeDark">CORREO</th>
                        <th class="textOrangeDark">TELEFONO</th>
                        <th class="textOrangeDark">DIRECCIÓN</th>
                        <th class="textOrangeDark">FECHA NACIMIENTO</th>
                        <th class="textOrangeDark">FACULTAD</th>
                        <th class="textOrangeDark">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in alumnos %}
                        <tr>
                            {% if a.foto %}
                            <td><img src="{{ a.foto.url}}" alt="connect" style="max-height:1cm;max-width:1cm"></td>
                                {% else %}<td>Sin Foto</td>
                            {% endif %}
                            <td>{{ a.nombre }}</td>
                            <td>{{ a.apellido }}</td>
                            <td>{{ a.correo}}</td>
                            <td>{{ a.telefono}}</td>
                            <td>{{ a.direccion}}</td>
                            <td>{{ a.fecha_nacimiento}}</td>

                            {% if a.facultad == '1' %}
                                <td>Ingeniería en Ciencias de la Computación</td>
                            {% elif a.facultad == '2' %}
                                <td>Ingeniería Industrial</td>
                            {% elif a.facultad == '3' %}
                                <td>Ingeniería Civil</td>
                            {% elif a.facultad == '4' %}
                                <td>Medicina y Cirugía</td>
                            {% elif a.facultad == '5' %}
                                <td>Odontología</td>
                            {% elif a.facultad == '6' %}
                                <td>Enfermería</td>
                            {% else %}
                                <td>Psicología</td>
                            {% endif %}
                            
                            <td class="text-center">
                                <a href="{% url 'academico:editar_alumnos' a.id %}" class="edit"><span class="fas fa-edit"></span></a>
                                <a onclick="if (!confirm('¿Desea eliminar {{a.alumnos}}?')) return false;" href="{% url 'academico:eliminar_alumnos' a.id %}" class="delete"> <span class="fas fa-trash-alt"></span></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="9" class="text-danger text-center fw-bold">NO SE ENCONTRARON RESULTADOS</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>   
        $(function () {
                setTimeout(() => {
                $('.alert').slideUp(function () { 
                    $(this).remove();
                });
            }, 3000)
        });
    </script>
    <script type="text/javascript">
    $(document).ready(DOM_Load);

    function DOM_Load (e) {
        $("#datebirth").on("click", dateOfBirth_Click);
    }

    function dateOfBirth_Click(e) {
        let today = new Date();
        $("#datebirth").prop("max", `${today.getUTCFullYear() - 15}-${(today.getUTCMonth() + 1).toString().padStart(2, "0")}-${today.getUTCDate().toString().padStart(2, "0")}`);
    }
    </script> 
{% endblock  %}