{% extends "base.html" %}

{% block title %}
    Alumnos
{% endblock %}

{% block container %}
    <div class="row">

        <div class="col-3">
        {% if alumno %}
            <form action="{% url 'editar_alumnos' alumno.id %}" method="POST">
        {% else %}
            <form action="{% url 'alumnos' %}" method="POST">
        {% endif %}
                {% csrf_token %}
                <div class="mb-2">
                    <label class="mb-2" for="usuario">Usuario</label>
                    <input type="text" value="{{ alumno.usuario }}" name="usuario" id="usuario" class="form-control" required>
                </div>

                <div class="mb-2">
                    <label class="mb-2" for="nombre">Nombre</label>
                    <input type="text" value="{{ alumno.nombre }}" name="nombre" id="nombre" class="form-control"  required>
                </div>

                <div class="mb-2">
                    <label class="mb-2" for="apellido">Apellido</label>
                    <input type="text"  value="{{ alumno.apellido }}" name="apellido" id="apellido" class="form-control" required>
                </div>

                <div class="mb-2">
                    <label class="mb-2" for="correo">Correo</label>
                    <input type="text"  value="{{ alumno.correo }}" name="correo" id="correo" class="form-control" required>
                </div>

                <div class="mb-2">
                    <label for="telefono">Telefono</label>
                    <input type="number"  value="{{ alumno.telefono }}" name="telefono" id="telefono" class="form-control" min="10"  required>
                </div>

                <div class="mb-2">
                    <label for="edad">Edad</label>
                    <input type="number"  value="{{ alumno.edad }}" name="edad" id="edad" class="form-control" min="10"  required>
                </div>

                <div class="mb-2">
                {% if alumno %}
                    <input onclick="if (!confirm('¿Desea actualizar {{alumno.nombre}}?')) return false;"  type ="submit" class="btn btn-success" value="Actualizar Alumno">
                {% else %}
                    <input type ="submit" class="btn btn-success" value="Registrar Alumno">
                {% endif %}
                </div>
            </form>
        </div>

        <div class="col-9">
            {% if messages %}
                <div class="alert alert-success mb-3">
                    {% for message in messages %}
                        {{ message | safe }}
                    {% endfor %}
                </div>
            {% endif %}

            <form action="" method="GET">
                <input name="q" value="{{ q | default_if_none:''}}" type="search" class="form-control" placeholder="Buscar Alumno">
            </form>

            <h5 class="mt-3 mb-3 fw-bold">Alumnos {{ alumnos.count }}</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>USUARIO</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>CORREO</th>
                        <th>TELEFONO</th>
                        <th>EDAD</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in alumnos %}
                        <tr>
                            <td>{{ a.usuario }}</td>
                            <td>{{ a.nombre }}</td>
                            <td>{{ a.apellido }}</td>
                            <td>{{ a.correo}}</td>
                            <td>{{ a.telefono}}</td>
                            <td>{{ a.edad}}</td>
                            <td class="text-center">
                                <a onclick="if (!confirm('¿Desea eliminar {{a.alumnos}}?')) return false;" href="{% url 'eliminar_alumnos' a.id %}" class="text-danger"> <span class="fas fa-trash-alt"></span></a>
                                <a href="{% url 'editar_alumnos' a.id %}"><span class="fas fa-edit"></span></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-danger text-center fw-bold">NO SE ENCONTRARON RESULTADOS</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>   
        $(function () {
                setTimeout(() => {
                $('.alert').slideUp(function () { 
                    $(this).remove();
                });
            }, 3000)
        });
    </script> 
{% endblock  %}