{% extends "base.html" %}

{% block title %}
    dias
{% endblock %}

{% block container %}
      

   <div class="card-dias">
                        
                           <div class="card-dias-dia activo">L</div>
                           <div class="card-dias-dia activo">M</div>
                           <div class="card-dias-dia activo">M</div>
                           <div class="card-dias-dia activo">J</div>
                           <div class="card-dias-dia ">V</div>
                           <div class="card-dias-dia ">S</div>
                           <div class="card-dias-dia">D</div>
                        
                    </div>
{% endblock %}

{% block js %}
    <script>   
      

    </script>

{% endblock  %}