{% extends "base.html" %}
{% load static %}

{% block title %}
    Menu
{% endblock %}
{% block navbar %}
    {% if user.is_superuser %}
        <a class="nav-link"href="/admin/" >Sitio de administración</a>
        <a class="nav-link"href="{% url 'academico:alumnos' %}" >Alumno</a>
        <a class="nav-link"href="{% url 'academico:docenteAdmin' %}" >Docente</a>
        <a class="nav-link"href="{% url 'academico:clasesAdmin' %}" >Clases</a>
        <a class="nav-link"href="{% url 'academico:asignaturas' %}" >Asignatura</a>
        <a class="nav-link"href="{% url 'academico:ofertaAlumno' %}" >Oferta Academica</a>
    {% elif "Docente" in user.groups.all.first.name %}
        <a class="nav-link"href="{% url 'academico:notas' %}" >Notas</a>
        <a class="nav-link"href="{% url 'academico:editar_perfil_alumnos' %}" >Perfil</a>
        <a class="nav-link"href="{% url 'academico:clasesMatricula' %}" >Clases</a>
        <a class="nav-link"href="{% url 'academico:clasesdocente' %}" >Boleta</a>

    {% else %}
        <a class="nav-link"href="{% url 'academico:notas' %}" >Notas</a>
        <a class="nav-link"href="{% url 'academico:editar_perfil_alumnos' %}" >Perfil</a>
        <a class="nav-link"href="{% url 'academico:clasesMatricula' %}" >Clases</a>
        <a class="nav-link"href="{% url 'academico:boletaAlumno' %}" >Boleta</a>
        <a class="nav-link"href="{% url 'academico:ofertaAlumno' %}" >Matricula</a>
    {% endif %}
{% endblock %}
{% block container %} 
    <style>
        
        .container{
            width: 100%;
            display: flex;
            max-width: 1100px;
        }

        .card{
            width: 100%;
            margin: 10px;
            border-radius: 10px;
            overflow: hidden;
            background: orange;
            box-shadow: 0px 1px 10px rgba(0,0,0, 0.2);
            cursor: default;
            height: 170px;
        }

        .card:hover{
            box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
            transform: translateY(-3%);
        }

        h2 {
        color: white;
        margin-top: 10px;
        }

        img{
            margin-top: 20px;
        }

        .h1{
            width: 100%;
            margin: 5px;
            float: left;
        }

        .card .contenido{
            padding: 15px;
            text-align: center;
        }
        
    </style>


    {% if user.is_superuser %}
        <div class="row">
            <h3 class="mb-5 textOrangeDark fw-bold">BIENVENIDO, {{ user|upper }}</h3>
            <div class="container">
                <a href="/admin/" class="card-link text-decoration-none">
                    <div class="card" style="width: 20rem;" id="c">
                        <div class="text-center" id="c">
                            <img src="{% static 'seguridad/img/icons8-ordenador-portátil-50.png' %}" width="50" height="50" color="white"/>
                            <h2>Sitio de Administración</h2>
                        </div>
                    </div>
                </a>
                    <a href="{% url 'academico:alumnos' %}" class="card-link text-decoration-none">
                        <div class="card" style="width: 20rem;" id="c">
                            <div class="text-center" id="c">
                                <img src="{% static 'seguridad/img/icons8-estudiantes-30.png' %}" width="50" height="50" color="black"/>
                                <h2>Registrar Alumno</h2>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'academico:docenteAdmin' %}" class="card-link text-decoration-none">
                    <div class="card" style="width: 20rem;" id="c">
                        <div class="text-center" id="c">
                            <img src="{% static 'seguridad/img/icons8-formación-30.png' %}" width="50" height="50" color="black"/>
                            <h2>Registrar Docente</h2>
                        </div>
                    </div>
                </a>

            </div>

            <div class="container">
                <a href="{% url 'academico:asignaturas' %}" class="card-link text-decoration-none">
                    <div class="card" style="width: 20rem;" id="c">
                        <div class="text-center" id="c">
                            <img src="{% static 'seguridad/img/icons8-storytelling-30.png' %}" width="50" height="50" color="black"/>
                            <h2>Registrar Asignatura</h2>
                        </div>
                    </div>
                </a>
                <a href="{% url 'academico:clasesAdmin' %}" class="card-link text-decoration-none">
                    <div class="card" style="width: 20rem;" id="c">
                        <div class="text-center" id="c">
                            <img src="{% static 'seguridad/img/icons8-clase-30.png' %}" width="50" height="50" color="black"/>
                            <h2>Gestionar Clases</h2>
                        </div>
                    </div>
                </a>
                <a href="{% url 'academico:periodosAdmin' %}" class="card-link text-decoration-none">
                    <div class="card" style="width: 20rem;" id="c">
                        <div class="text-center" id="c">
                            <img src="{% static 'seguridad/img/icons8-calendario-1-30.png' %}" width="50" height="50" color="black"/>
                            <h2>Oferta Academica</h2>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
        
    {% elif "Docente" in user.groups.all.first.name %}
    <div class="row">
        <h1>Bienvenido {{ user }}</h1>
        <div class="container">
            <a href="{% url 'academico:notas' %}" class="card-link text-decoration-none">
                <div class="card" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="{% static 'seguridad/img/icons8-boleta-de-calificaciones-30.png' %}" width="50" height="50" color="black"/>
                        <h2>Notas</h2>
                    </div>
                </div>
            </a>
            <a href="{% url 'academico:editar_perfil_alumnos' %}" class="card-link text-decoration-none">
            <div class="card" style="width: 20rem;" id="c">
                <div class="text-center" id="c">
                    <img src="{% static 'seguridad/img/icons8-usuario-masculino-en-círculo-30.png' %}" width="50" height="50" color="black"/>
                    <h2>Perfil</h2>
                </div>
            </div>
            </a>
            <a href="{% url 'academico:clasesMatricula' %}" class="card-link text-decoration-none">
                <div class="card" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="{% static 'seguridad/img/icons8-storytelling-30.png' %}" width="50" height="50" color="black"/>
                        <h2>Clases</h2>
                    </div>
                </div>
            </a>

        </div>

        <div class="container">
            <a href="{% url 'academico:clasesdocente' %}" class="card-link text-decoration-none">
                <div class="card" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="{% static 'seguridad/img/icons8-clase-30.png' %}" width="50" height="50" color="black"/>
                        <h2>Gestionar Clase</h2>
                    </div>
                </div>
            </a>


        </div>
            
            


    </div>
        {% elif "Alumno" in user.groups.all.first.name %}
    <div class="row">
        <h1>Bienvenido {{ user }}</h1>
        <div class="container">
            <a href="{% url 'academico:notas' %}" class="card-link text-decoration-none">
                <div class="card" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Notas</h2>
                    </div>
                </div>
            </a>
            <a href="{% url 'academico:editar_perfil_alumnos' %}" class="card-link text-decoration-none">
            <div class="card" style="width: 20rem;" id="c">
                <div class="text-center" id="c">
                    <img src="https://login.sec.unicah.net/imgs/icono_apps_zoom.svg" width="50" height="50" color="black"/>
                    <h2>Perfil</h2>
                </div>
            </div>
            </a>
            <a href="{% url 'academico:clasesMatricula' %}" class="card-link text-decoration-none">
                <div class="card" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Clases</h2>
                    </div>
                </div>
            </a>

        </div>

        <div class="container">
            <a href="{% url 'academico:boletaAlumno' %}" class="card-link text-decoration-none">
                <div class="card" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Boleta</h2>
                    </div>
                </div>
            </a>
            <a href="{% url 'academico:ofertaAlumno' %}" class="card-link text-decoration-none">
                <div class="card" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Matricula</h2>
                    </div>
                </div>
            </a>

        </div>




    </div>
    

    {% endif %}
{% endblock %}