{% extends "base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block container %}    
    
    <h1>Bienvenido {{ user }}</h1>

 
        <style>
        #c{
                margin: 0 auto;
                float: none;
                margin-bottom: 10px;
        }

        a .card-link{
        width:2000px;
        }

        h2 {
        color: white;
        }

        .card-body {
        background-color: orange;
        border-radius: 10px;
        }
        
        </style>


    {% if user.is_superuser %}
        <div id="c" class="cards d-block" >
        <a href="/admin/" class="card-link text-decoration-none">
                <div class="card-body" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Sitio de administración</h2>
                    </div>
                </div>
            </a>
            <a href="{% url 'academico:alumnos' %}" class="card-link text-decoration-none">
                <div class="card-body" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Registrar Alumno</h2>
                    </div>
                </div>
            </a>
            <a href="{% url 'academico:docenteAdmin' %}" class="card-link text-decoration-none">
            <div class="card-body" style="width: 20rem;" id="c">
                <div class="text-center" id="c">
                    <img src="https://login.sec.unicah.net/imgs/icono_apps_zoom.svg" width="50" height="50" color="black"/>
                    <h2>Registrar Docente</h2>
                </div>
            </div>
            </a>
            <a href="{% url 'academico:asignaturas' %}" class="card-link text-decoration-none">
                <div class="card-body" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Registrar Asignatura</h2>
                    </div>
                </div>
            </a>
            <a href="{% url 'academico:clasesAdmin' %}" class="card-link text-decoration-none">
                <div class="card-body" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Crear Clase</h2>
                    </div>
                </div>
            </a>
            <a href="{% url 'academico:ofertaAlumno' %}" class="card-link text-decoration-none">
                <div class="card-body" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Oferta academica</h2>
                    </div>
                </div>
            </a>
        </div>
    {% else %}
    <div id="c" class="cards d-inline-block container-fluid" >
            <a href="{% url 'academico:notas' %}" class="card-link text-decoration-none">
                <div class="card-body" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Notas</h2>
                    </div>
                </div>
            </a>
            <a href="{% url 'academico:editar_perfil_alumnos' %}" class="card-link text-decoration-none">
            <div class="card-body" style="width: 20rem;" id="c">
                <div class="text-center" id="c">
                    <img src="https://login.sec.unicah.net/imgs/icono_apps_zoom.svg" width="50" height="50" color="black"/>
                    <h2>Perfil</h2>
                </div>
            </div>
            </a>
            <a href="{% url 'academico:clasesMatricula' %}" class="card-link text-decoration-none">
                <div class="card-body" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Clases</h2>
                    </div>
                </div>
            </a>
            <a href="{% url 'academico:clasesAdmin' %}" class="card-link text-decoration-none">
                <div class="card-body" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Crear Clase</h2>
                    </div>
                </div>
            </a>
            <a href="{% url 'academico:ofertaAlumno' %}" class="card-link text-decoration-none">
                <div class="card-body" style="width: 20rem;" id="c">
                    <div class="text-center" id="c">
                        <img src="https://login.sec.unicah.net/imgs/icono_registro.svg" width="50" height="50" color="black"/>
                        <h2>Oferta academica</h2>
                    </div>
                </div>
            </a>
        </div>

    {% endif %}
{% endblock %}