{% extends "base.html" %}

{% block title %}
    OFERTA ACADÉMICA
{% endblock %}

{% block container %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{%else%}success{% endif %} mb-3">
                {{ message|safe }}  
            </div>
            {% endfor %}
        {% endif %}

        <h2 class="fw-bold mb-5">Bienvenidx, NOMBRE ALUMNO</h2>

        <table id="clasesMtr" class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">SECCIÓN</th>
                    <th>FECHAS</th>
                    <th>HORARIO</th>
                    <th>DÍAS</th>
                    <th>AULA</th>
                    <th class="text-center">CUPOS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">SECCIÓN</th>
                    <th>FECHAS</th>
                    <th>HORARIO</th>
                    <th>DÍAS</th>
                    <th>AULA</th>
                    <th class="text-center">CUPOS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbody">
            {% for a in asignaturas %}
                <tr><td class="pb-0 fw-bold text-white gray" colspan="7"><h5 class="card-header fw-bold text-white gray">{{a}}</h5></td></tr>
                    {% for c in clasesOfertadas %}
                        {% if a == c.asignatura.nombre %}
                        <tr id="tr-{{c.id}}">
                            <td class="text-center">{{ c.seccion }}</td>
                            <td>{{ c.asignatura.nombre }}</td>
                            <td>{{ c.hora }}</td>
                            <td>{{ c.dias}}</td>
                            <td>{{ c.aula}}</td>
                            <td class="text-center">{{ c.cupos}}</td>
                            {% comment %}Conficionar el nombre del icono src dependiendo cuando le de click o no {% endcomment %}
                            <td onclick="agregarQuitar({{c.id}}, {{c.asignatura.id}})">
                                <lord-icon
                                    id="lordicon{{c.id}}"
                                    class="icon {{c.asignatura.id}}"
                                    src=''
                                    trigger="click"
                                    seleccionado = "False"
                                    colors="primary:#121331,secondary:#fb743e"
                                    stroke="80"
                                    style="width:2em;height:2em; cursor:pointer">
                                </lord-icon>
                            </td>
                        </tr>
                        {% endif %}
                    {% empty %}
                        <tr>
                            <td colspan="7" class="text-danger text-center fw-bold">NO HAY CLASES OFERTADAS</td>
                        </tr>
                    {% endfor %}
                {% empty %}
                <tr>
                    <td colspan="7" class="text-danger text-center fw-bold">NO HAY ASIGNATURAS AUN</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>
{% endblock %}

{% block js %}
    <script>   
    //"https://cdn.lordicon.com/mecwbjnp.json" +
    //"https://cdn.lordicon.com/rivoakkk.json" -
        $(function () {
                setTimeout(() => {
                $('.alert').slideUp(function () { 
                    $(this).remove();
                });
            }, 3000)
            
            //colocar por defecto el +, para ello se les aplico la clase icon
            $(".icon").attr("src","https://cdn.lordicon.com/mecwbjnp.json")
        });

        async function agregarQuitar(idClase, idAsignatura){
            //https://stackoverflow.com/questions/951021/what-is-the-javascript-version-of-sleepobtener a
            await new Promise(r => setTimeout(r, 998)); //pausa para ver el efecto de cambio de icono
            lordicon = $(`#lordicon${idClase}`)
            srcPlus = "https://cdn.lordicon.com/mecwbjnp.json"
            srcMin = "https://cdn.lordicon.com/rivoakkk.json"
            asignatura = $(`.icon.${idAsignatura}`)
            fila = $(`#tr-${idClase}`)
            //https://www.anerbarrena.com/jquery-attr-4948/, obtener el atributo src, donde se encuentra el nombre del icono lordicon
            if (lordicon.attr("src") == srcPlus) { //Icono + es el que esta actualmente, debe cambiar a -
                if (lordicon.attr("seleccionado") == "True"){
                    alert("Ya esta matriculada esta clase en una seccion")
                    //verificar si ya hay un seleccionado con true en los lordicons que tengan el mismo idAsignatura
                } else {
                    $(lordicon).attr("src", srcMin)
                    asignatura.attr("seleccionado", "True") // Marcar como seleccionado el attr de las demas secciones de esa clase
                    fila.attr("class","orangeRows") // Colocar color a la fila 
                    $(`#clasesMtr tbody`).append(fila.clone().removeAttr("id").attr("id",`#mtr-${idClase}`)).fadeIn("slow"); // Agregar la fila a la tabla de las clases seleccionadas para matricular

                }
            } else { //Icono - es el que esta actualmente, debe cambiar a +
                asignatura.attr("seleccionado", "False") //quitar seleccionado del attr de las demas secciones de esa clase
                $(lordicon).attr("src",srcPlus)
                fila.removeAttr("class") // Remover color a la fila 
                $(`#mtr-${idClase}`).remove(); // Agregar la fila a la tabla de las clases seleccionadas para matricular
            }
        }
    </script> 
{% endblock  %}