.orange {
    background-color: #fd7e14;
    background: radial-gradient(circle, rgba(253,152,67,1) 0%, rgba(253,126,20,1) 100%);
}
.gray {
    background-color: #495057;
}

.delete {
    color: #e35d6a;
}

.delete:hover {
    color: #dc3545;
}

.edit {
    color: #fd9843;;
}

.edit:hover {
    color: #fd7e14;
}

.form-check-input:checked {
    background-color: #fd7e14;
    border-color: #fd7e14;
}